<h1>Hello World!</h1>

<% if flash[:notice] %>
  <p><%= flash[:notice] %></p>
<% end %>

<div>
  <ul>
    <% @user.errors.full_messages.each do |e| %>
      <li><%= e %></li>
    <% end %>
  </ul>
</div>

<!--
  
<form action="/users" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <ul>
    <li>
      <label for="username">Username:</label>
      <input type="text" name="user[username]" id="user[username]" value="<%= @user[:username] %>">
    </li>
    <li>
      <label for="user[email]">Email:</label>
      <input id="user[email]" type="email" name="user[email]" value="<%= @user[:email] %>">
    </li>
    <li>
      <label for="user[password]">Password:</label>
      <input id="user[password]" type="password" name="user[password]">
    </li>
    <li>
      <button>Submit</button>
    </li>
  </ul>
</form>

<%= form_tag('/users')  do %>
  <ul>
    <li>
      <%= label_tag 'username' %>:
      <%= text_field :user, :username %>
    </li>
    <li>
      <%= label_tag 'user_email' %>
      <%= email_field :user, :email %>
    </li>
    <li>
      <%= label_tag 'user_password' %>
      <%= password_field :user, :password %>
    </li>
    <li>
      <%= submit_tag %>
    </li>
  </ul>
<% end %>

-->

<%= form_with model: @user do |f| %>
  <ul>
    <li>
      <%= f.label :username %>
      <%= f.text_field :username %>
    </li>
    <li>
      <%= f.label :email %>
      <%= f.email_field :email %>
    </li>
    <li>
      <%= f.label :password %>
      <%= f.password_field :password %>
    </li>
    <li>
      <%= f.submit %>
    </li>
  </ul>
<% end %>
